.cart {
    margin: 5rem auto;
}

.cart-container {
    max-width: 1300px;
    margin: auto;
}

.cart-details {
    text-align: center;
    margin-top: 5rem;
}

.list-cart {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: auto;
    gap: 1rem;
}

.list-cart-item {
    width: 500px;
    height: 80px;
    margin: auto;
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    box-shadow: rgba(26, 26, 26, 0.08) 0px -1px 4px 0px, rgba(26, 26, 26, 0.12) 0px 4px 8px 0px;
}

.list-cart-item-product-image {
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}

#delete-button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-weight: 600;
}

.list-cart-item-product {
    grid-template-columns: 100px 1fr;
    padding: 1rem;
    margin: auto;
}

.list-cart-item-product h3 {
    margin: 0;
    cursor: pointer;
}

.list-cart-item-countdown {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20px 1fr;
}

#cart-product-price,
#cart-product-name {
    margin: auto;
}

#buy_item {
    cursor: pointer;
    margin-top: 5rem;
    padding: 1rem;
    font-size: 18px;
    font-weight: 500;
    background-color: #238636;
    color: white;
    border-radius: 10px;
}

#buy_item:disabled {
    cursor: default;
    background-color: rgba(128, 128, 128, 0.245);
    color: rgba(0, 0, 0, 0.404);
}

#money-cart {
    margin-top: 5rem;
    font-size: 20px;
    padding: 0.5rem;
    box-shadow: 0 4px 1px -2px rgba(0, 0, 0, 0.138);
}

#span-money {
    color: green;
    font-size: 25px;
    text-align: end;
}