.profil-shop {
    max-width: 1300px;
    margin: 5rem auto;
}

.profil-shop-container {
    margin: 5rem auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.myshop {
    margin-top: 2rem;
    padding: 0 1rem;
}

.myshop h2 {
    text-align: center;
}

.myshop-list {
    display: grid;
    padding: 2rem;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "1 2"
        "3 4"
        "5 6"
        "submit submit";
    gap: 1.5rem;
    box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.119);
}

.myshop-list-item {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    box-shadow: rgba(26, 26, 26, 0.08) 0px -1px 4px 0px, rgba(26, 26, 26, 0.12) 0px 4px 8px 0px;
    cursor: pointer;
}

.myshop-openhours {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}

.myshop-openhours input {
    max-width: 80px;
    text-align: right;
}

.myshop-list-item input {
    border: 1px solid rgba(0, 0, 0, 0.16);
    height: 20px;
    padding: 0.5rem 1rem;
    font-size: 18px;
    border-radius: 10px;
}

.myshop-list-item label {
    font-size: 20px;
}

.myshop-list-item select {
    font-size: 18px;
    text-align: center;
}

#submit-shop-details {
    grid-area: submit;
    min-width: 200px;
    height: 40px;
    margin: auto;
    font-size: 15px;
    border-radius: 10px;
}

#submit-shop-details:enabled {
    background-color: #2ea44f;
    color: white;
    cursor: pointer;
}

#submit-delete-shop {
    grid-area: delete;
    min-width: 200px;
    height: 40px;
    margin: auto;
    font-size: 15px;
    border-radius: 10px;
    background-color: rgba(196, 2, 2, 0.848);
    color: white;
    cursor: pointer;
}

.myshop-products {
    margin-top: 2rem;
    padding: 0 1rem;
    width: 90%;
}

.myshop-products h2 {
    text-align: center;
}

.myshop-products-list {
    position: relative;
    list-style: none;
    padding: 3rem;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.119);
}

.myshop-products-list-item {
    box-shadow: rgba(26, 26, 26, 0.08) 0px -1px 4px 0px, rgba(26, 26, 26, 0.12) 0px 4px 8px 0px;
    cursor: pointer;
    display: grid;
    grid-template-rows: 100px 80px;
}

.myshop-list-item-shop-image {
    display: grid;
    grid-template-columns: 200px 1fr;
}

.myshop-product-list-item-image img {
    object-fit: cover;
}

.myshop-product-list-item-description {
    padding: 0.8rem;
    display: grid;
    gap: 0.5rem;
    grid-template-rows: 1fr 1fr;
}

.myshop-product-list-item-description h4 {
    margin: 0;
}

.myshop-product-list-item-image {
    background-color: rgba(255, 212, 127, 0.493);
}

.myshop-products-list-item-button {
    margin: auto 0;
}

#myshop-products-button {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 5px;

}