.products-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 65%;
    gap: 2rem 0;
    margin: 10rem auto;
}

#type-of-shop {
    font-size: 15px;
    font-weight: 600;
}