.products-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1300px;
    gap: 5rem;
    margin: 10rem auto;
}

#type-of-shop {
    font-size: 15px;
    font-weight: 600;
}