.profil-shop {
    max-width: 80%;
    margin: 5rem auto;
}

.profil-shop-container {
    margin: 5rem auto;
    display: grid;
}

.myshop {
    margin-top: 2rem;
    padding: 0 1rem;
    width: 50%;
}

.myshop h2 {
    text-align: center;
}

.myshop-list {
    display: grid;
    padding: 3rem;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "1 2"
        "3 4"
        "submit submit";
    gap: 2rem;
    box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.119);
}

.myshop-list-item {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    box-shadow: rgba(26, 26, 26, 0.08) 0px -1px 4px 0px, rgba(26, 26, 26, 0.12) 0px 4px 8px 0px;
    cursor: pointer;
}

.myshop-openhours {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}

.myshop-openhours input {
    max-width: 80px;
    text-align: right;
}

.myshop-list-item input {
    border: 1px solid rgba(0, 0, 0, 0.16);
    height: 20px;
    padding: 0.5rem 1rem;
    font-size: 18px;
    border-radius: 10px;
}

.myshop-list-item label {
    font-size: 20px;
}

.myshop-list-item select {
    font-size: 18px;
    text-align: center;
}

#submit-shop-details {
    grid-area: submit;
    min-width: 200px;
    height: 40px;
    margin: auto;
    font-size: 15px;
    border-radius: 10px;
}

#submit-shop-details:enabled {
    background-color: #2ea44f;
    color: white;
    cursor: pointer;
}