center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profil {
    max-width: 70%;
    margin: 5rem auto;
}

.profil-name {
    border-radius: 10px;
    box-shadow: 0 2px 2px 2px rgba(113, 113, 113, 0.18);
    display: grid;
    grid-template-columns: 70px 1fr;
    max-height: 70px;
    max-width: 300px;
    margin: auto;
    padding: 1rem;
}

.list-container {
    margin: 5rem auto;
}

.profil-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
}

.list-item {
    list-style: none;
    margin: auto;
    width: 400px;
    height: 200px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 2rem 2rem 0.5rem 2rem;
    text-align: start;
    border-radius: 5px;
    box-shadow: rgba(26, 26, 26, 0.08) 0px -1px 4px 0px, rgba(26, 26, 26, 0.12) 0px 4px 8px 0px;
    cursor: pointer;
}

.list-item img {
    opacity: 0.7;
}

.list-item h2 {
    margin-bottom: 0.5rem;
}