.shopbox {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 180px 1fr;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.238);
    height: 250px;
    width: 400px;
    cursor: pointer;
    margin: auto;
    transition: 0.3s;
}

.shopbox:hover {
    transform: translate(0, -5px);
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.238);
}

.image {
    width: 100%;
    background-color: rgba(255, 212, 127, 0.493);
    height: 150px;
}

.details {
    display: grid;
    padding: 1rem;
    gap: 0.5rem;
}

.details .name {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.shop-infos {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    text-align: center;
}

.details h4,
ul,
p {
    margin: 0;
}

.stars-outer {
    position: relative;
    display: inline-block;
}

.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

.stars-outer::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #ccc;
}

.stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #f8ce0b;
}